<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="Whole-container">
    <div><button routerLink='/home/books' class="home">Home/</button><span class="book">
            Book<span class="bookId">({{bookWithId?.bookId}})</span></span></div>
    <div class="smallImage">
        <img src="../assets/SmallImage1 (1).png" class="image1">
        <img src="../assets/SmallImage2.png" class="image2">
    </div>
    <div class="bookContainer">
        <img src="../assets/BookImage2.png">
        <div fxLayout.xs="column" class="footerButton">
            <button class="addToBag" (click)="addCart()">Add To Bag</button>
            <button class="wishList" (click)="addWishlist()">Wish List</button>
        </div>
        <div class="right-container">
            <div class="bookName">{{bookWithId?.bookName}}</div>
            <div class="bookAuthor">by {{bookWithId?.bookAuthor}}</div>
            <div class="totalRating">{{bookWithId?.totalRating}}<mat-icon class="Star">star</mat-icon>
            </div>
            <div class="noOfPeopleRated"><span>({{bookWithId?.noOfPeopleRated}})</span></div>
            <div class="discountPricing">Rs.{{bookWithId?.discountPrice}}</div>
            <div class="originalPrice">Rs.{{bookWithId?.originalPrice}}</div>
            <hr style="width:700px;text-align:left;margin-left:0;margin-top: -3px;">
            <div class="bookSpecs">
                <li>Book Details<p>{{bookWithId?.bookDetails}}</p>
                </li>
            </div>
            <hr style="width:700px;text-align:left;margin-left:0;margin-top: -3px;">
        </div>
    </div>
    <div class="feedBackContainer">
        <div class="customerFeedback">Customer Feedback</div>
        <div class="enterFeedBackBox">
            <p>Overall Rating</p>
            <span class="star-rating">
                <form [formGroup]="form">
                    <div class="addFeedbackCont">
                        <div class="addFeedbackStars">
                            <ngx-star-rating ngDefaultControl formControlName="rating1" [id]="'rating'"></ngx-star-rating>
                        </div>
                    </div>
                </form>
            </span>
            <div class="writeFeedBack">
                <form [formGroup]="reviewForm" (ngSubmit)="addFeedBack()">
                    <input mat-input class="input-text" type="text" id="feedBack" formControlName="feedBack"
                        placeholder="Write your feedback">
                    <button class="submitButton">Submit</button>
                </form>
            </div>
        </div>
        <div class="allFeedbacks" *ngFor="let feedBacks of feeBackList">
            <div class="fullNameOfFeedBack">{{feedBacks.fullName}}</div>
            <div class="cont">
                <div class="stars">
                    <ngx-star-rating [(ngModel)]="feedBacks.ratings" [disabled]="true"></ngx-star-rating>
                </div>
            </div>
            <div class="allFeedBacks">{{feedBacks.feedBack}}</div>
        </div>
    </div>
</div>