<div class="Whole-container">
    <div class="Top-Bar">
        <img src="../assets/education.svg" class="topBarImage">
        <span class="bookStore">Bookstore</span>
    </div>
    <div class="middle-container">
        <div class="forgetPasswordText">
            <h1>Forget Your Password?</h1>
        </div>
        <div class="centre-box-container">
            <div class="Box-Text">
                <p class="boxText">Enter your email address and we'll send you a link to reset password.</p>
            </div>
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitted()">
                <div>
                    <div class="lable">
                        <label for="EmailId">EmailId</label>
                    </div>
                    <div>
                        <input class="input-text" type="text" id="EmailId" formControlName="emailId">
                    </div>
                </div>
                <div>
                    <div class="resetPassword">
                        <button mat-stroked-button class="ResetPassword-button">Reset Password</button>
                    </div>
                </div>
            </form>
            <div class="CreateAccount" routerLink='/account'>
                <button mat-stroked-button class="CreateAccount-Button">Create Account</button>
            </div>
        </div>
    </div>
</div>