.Whole-container { 
	.Top-Bar { 
        width: 1536px;
        height: 60px;
        background-color: #A03037;
        display: flex;
        flex-direction: row;
		.topBarImage { 
            width: 31px;
            height: 24px;
            margin-left: 164px;
            margin-top: 18.6px;
            margin-bottom: 17.69;
            margin-right: 4px;
		}

		.bookStore { 
            margin-top: 18px;
            margin-bottom: 17px;
            left: 201px;
            width: 91px;
            height: 26px;
            font: normal normal normal 20px/26px Roboto;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: capitalize;
            opacity: 1;
            margin-right: 1178px;
		}
	}

	.middle-container { 
		.resetPasswordText { 
            margin-left: 579px;
            margin-right: 529px;
            margin-top: 101px;
            width: 260px;
            height: 33px;
			h1 { 
                font-weight: 500;
			}
		}

        .centre-box-container{
            width: 427px; 
		    height: 287px; 
		    border: 1px solid #E4E4E4;
		    background-color: #fff;
            margin-top: 27px;
            margin-left: 492px;
            margin-right: 450px;
            .Box-Text { 
                width: 290px;
                height: 40px;
                margin-left: 67px;
                margin-right: 67px;
                padding-top: 36px;
                .boxText { 
                    
                    opacity: 0.7;
                }
            }
    
            div { 
    
                .lable { 
                    margin-top: 30px;
                    margin-left: 67px;
                    margin-right: 253px;
                    label { 
                        top: 314px;
                        left: 559px;
                        width: 60px;
                        height: 13px;
                        text-align: left;
                        font: normal normal medium 10px/13px Roboto;
                        letter-spacing: 0px;
                        color: #0A0102;
                        text-transform: capitalize;
                        opacity: 1;
                        font-size: 13px;
                    }
                    
                }
                .ResetPassword-button{
                    margin-top: 17px;
                    margin-left: 67px;
                    margin-right: 65px;
                    width: 299px;
                    height: 42px;
                    background-color: #A03037;
                    color: #FFFFFF;
                    cursor: pointer;
                    padding-left: 80px;
                    padding-right: 92px;
                    padding-top: 5px;
                    padding-bottom: 15px;
                    font-size: 16px;
                }
    
                div { 
                    .input-text { 
                        width: 292px;
                        height: 35px;
                        margin-left: 67px;
                        margin-right: 65px;
                    }
                }
            }
        }
	}
}