<div class="Whole-container">
    <div class="Top-Bar">
        <img src="../assets/education.svg" class="topBarImage">
        <span class="bookStore">Bookstore</span>
    </div>
    <div class="middle-container">
        <div class="resetPasswordText">
            <h1>Reset Password Page</h1>
        </div>
        <div class="centre-box-container">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitted()">
                <div>
                    <div class="lable">
                        <label for="newPassword">New Password</label>
                    </div>
                    <div>
                        <input class="input-text" type="text" id="EmailId" formControlName="newPassword">
                    </div>
                </div>
                <div>
                    <div class="lable">
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                    <div>
                        <input class="input-text" type="text" id="EmailId" formControlName="confirmPassword">
                    </div>
                </div>
                <div>
                    <div class="resetPassword">
                        <button mat-stroked-button class="ResetPassword-button">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
