<div class="Whole-container">
    <div class="Top-Bar">
        <img src="../assets/education.svg" class="topBarImage">
        <span class="bookStore">Bookstore</span>

        <mat-icon class="searchIcon">search</mat-icon>
        <input class="searchBox" placeholder="Search">

        <mat-icon class="personIcon">person_outline</mat-icon>
        <label class="Profile">Profile</label>

        <mat-icon routerLink='/home/cart' class="cartIcon">shopping_cart_outline</mat-icon>
        <label class="cart">Cart</label>
    </div>
</div>
<div>
    <router-outlet>
        
    </router-outlet>
</div>
