<div class="whole-container">
    <div class="switchButton"><button routerLink='/home/books' class="home">Home/</button>
        <span class="myCartList">My cart</span>
    </div>
    <div class="myCartList1">
        <div class="cartText">
            <p class="Mylist">My Cart({{countBooks}})</p>
        </div>
        <div class="cartList-container" *ngFor="let bookList of cartList">
            <img src="../assets/BookImage2.png">
            <div class="bookName">{{bookList.bookName}}</div>
            <div class="bookAuthor">by {{bookList.bookAuthor}}</div>
            <div class="discountPricing">Rs.{{bookList.discountPrice}}</div>
            <div class="originalPrice">Rs.{{bookList.originalPrice}}</div>
            <button class="PlaceOrderButton" (click)="placeOrder(bookList)">Place Order</button>
            <div class="incrementDecrementButtons">
                <button class="decrementButton" (click)="decrement(bookList)">-</button>
                <p class="quantity"><span >{{quantity}}</span></p>
                <button class="incrementButton" (click)="increment(bookList)">+</button>
            </div>
        </div>
    </div>
    <div class="address-container-closed" *ngIf="!addressCard" (click)="addressCardSwap()">
        <div class="address-card-closed">
            <p class="card-closed-text">Address Details</p>
        </div>
    </div>
    <div class="address-container-opened" *ngIf="addressCard">
        <div class="address-card-opened">
            <p class="card-opened-text">Contact Details
                <button>Add New Address</button>
            </p>
        </div>
        <div class="addressDetailsContainer" *ngFor="let address of addressList">
            <div class="FullName"><label class="fullNameLable">Full Name</label>
                <div class="interFullName"><p>{{address.fullName}}</p></div>
            </div>
            <div class="FullAdddress"><label class="fullAddressLable">Full Address</label>
                <div class="interFullAddress"><p>{{address.fullAddress}}</p></div>
            </div>
            <div class="cityTown"><label class="cityLable">City/Town</label>
                <div class="interCity"><p>{{address.city}}</p></div>
            </div>
            <div class="state"><label class="stateLable">State</label>
                <div class="interState"><p>{{address.state}}</p></div>
            </div>
            <button class="ContinueButton" (click)="storeAddressIdToLocalStorage(address)">Continue</button>
        </div>
        <div class="addressType">
            <label>Select Button For Saved Address</label>
            <div class="footerRadioButton">
                <mat-radio-group aria-label="Select an option" class="radioButtons"   >
                    <mat-radio-button value="1" checked  color="warn" class="homeRadioButton">Home</mat-radio-button>
                    <mat-radio-button value="2" color="warn" class="workRadioButton">Work</mat-radio-button>
                    <mat-radio-button value="3"color="warn" class="othersRadioButton">Others</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="order-summary-container" *ngIf="!orderCard" (click)="orderCardSwap()">
        <div class="summary-card-closed">
            <p class="symmary-closed-text">Order Summary</p>
        </div>
    </div>
    <div class="orderListOpened" *ngIf="orderCard">
        <div class="orderSummaryText">
            <p class="OrderSummarList">Order Summary</p>
        </div>
        <div class="orderist-container" *ngFor="let orderBookList of orderList">
            <img src="../assets/BookImage2.png">
            <div class="bookName">{{orderBookList.bookName}}</div>
            <div class="bookAuthor">by {{orderBookList.bookAuthor}}</div>
            <div class="discountPricing">Rs.{{orderBookList.discountPrice}}</div>
            <div class="originalPrice">Rs.{{orderBookList.originalPrice}}</div>
            <button class="CheckoutButton" (click)="orderCheckout(orderBookList)">Checkout</button>
        </div>
    </div>
</div>