.whole-container { 
    width: 1536px;
    height: 645px;
    overflow-x: hidden;
	.switchButton { 
        margin-left: 213px;
        margin-top: 15px;
		.home { 
            width: 50px;
		    height: 20px;
		    opacity: 0.7;
		    border: none;
		    cursor: pointer;
		    background-color: #fff;
		    font-weight: 600;
            font-size: 17px;
		}

		.myCartList { 
            font-weight: 500;
            font-size: 17px;
            margin-left: 10px;
		}
	}

	.myCartList1 { 
        width: 800px;
        height: 250px;
        margin-left: 220px;
        margin-right: 167px;
        margin-top: 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E4E4E4;
		.cartText { 
			.Mylist { 
                width: 131px;
                height: 35px;
                letter-spacing: 0px;
                font-weight: 550;
                font-size: 18px;  
                margin-top: 17px;
                margin-bottom: 14px;
                margin-left: 40px;
			}
		}

		.cartList-container { 
            width: 800px;
            height:125px;
			img { 
                width: 65px;
                height: 85px;
                transform: translateY(20px);
                margin-left: 40px;
			}

			.bookName { 
                margin-top: -73px;
                margin-left: 150px;
                font-size: 11pt;
				font-weight: 500;
			}

			.bookAuthor { 
                margin-left: 150px;
                margin-top: 8px;
				font-size: 9pt;
				opacity: 0.7;
			}

			.discountPricing { 
                margin-left: 150px;
                font: normal normal bold 14px Roboto;
				letter-spacing: 0px;
				color: #0A0102;
				opacity: 1;
                margin-top: 9px;
			}

			.originalPrice { 
                margin-left: 215px;
                text-decoration: line-through;
				font: normal normal normal 14px Roboto;
				letter-spacing: 0px;
				color: #878787;
				opacity: 1;
                transform: translateY(-18px);
			}

            .PlaceOrderButton { 
                margin-left: 600px;
                cursor: pointer;
                transform: translateY(-40px);
                text-align: center;
                width: 151px;
                height: 35px;
                background: #3371B5 0% 0% no-repeat padding-box;
                border-radius: 2px;
                opacity: 1;
                color: #FFFFFF;
                border: none;
                
            }
            .incrementDecrementButtons { 
                transform: translateX(360px);
                margin-top: -70px;
                .decrementButton { 
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    border: none;
                    cursor: pointer;
                }
                .incrementButton{
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    border: none;
                    transform: translateY(-62px);
                    margin-left: 74px;
                    cursor: pointer;
                }
            
                .quantity { 
                    width: 40px;
                    height: 24px;
                    text-align: center;
                    border: 1px solid #E4E4E4;
                    transform: translateY(-25px);
                    margin-left: 27px;
                }
            }
		}
	}
    .myCartList1{ 
        overflow-y : scroll;
        overflow-x: hidden;
      }
    
    .address-container-closed { 
        margin-left: 220px;
        margin-right: 167px;
        margin-top: 30px;
        border: 1px solid #E4E4E4;
        width: 800px;
        cursor: pointer;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        .address-card-closed{
            width: 800px;
            height: 60px;
            border: 1px solid #E4E4E4;
            border-radius: 1px;
            .card-closed-text
             { 
                width: 131px;
                height: 35px;
                letter-spacing: 0px;
                font-weight: 550;
                font-size: 17px;  
                margin-top: 17px;
                margin-bottom: 14px;
                margin-left: 40px;
                opacity: 0.7;
            }
            .address-card-opened{
                height: 250px;
            }
        }
    
    }
    .address-container-closed { 
        margin-left: 220px;
        margin-right: 167px;
        margin-top: 30px;
        border: 1px solid #E4E4E4;
        width: 800px;
        cursor: pointer;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        .address-card-closed{
            width: 800px;
            height: 60px;
            border: 1px solid #E4E4E4;
            border-radius: 1px;
            .card-closed-text
             { 
                width: 131px;
                height: 35px;
                letter-spacing: 0px;
                font-weight: 550;
                font-size: 17px;  
                margin-top: 17px;
                margin-bottom: 14px;
                margin-left: 40px;
                opacity: 0.7;
            }
        }
    }
    .address-container-opened { 
        margin-left: 220px;
        margin-right: 167px;
        margin-top: 30px;
        border: 1px solid #E4E4E4;
        width: 800px;
        height: 520px;
        .address-card-opened{
            margin-left: 36px;
            margin-top: 25px;
            .card-opened-text{
               width: 730px;
               height: 35px;
               text-align: left;
               font-size: 22px;
               letter-spacing: 0px;
               color: #333232;
               opacity: 1;
               font-weight: 500;
               button{
                   margin-left: 570px;
                   width: 151px;
                   height: 40px;
                   border-color: #A03037;
                   color: #A03037;
                   background-color: #FFFFFF;
                   border-radius: 2px;
                   opacity: 1;
                   cursor: pointer;
                   transform: translateY(-25px);
                }
            }
        }
        .addressDetailsContainer { 
            margin-left: 57px;
            margin-top: 38px;
            width: 700px;
            .FullName { 
                width: 700px;
                height:76px;
                .fullNameLable { 
                    width: 54px;
                    height: 16px;
                    font-size: 14px;
                }
        
                .interFullName { 
                    border: 1px solid #E4E4E4;
                    width: 350px;
                    height: 43px;
                    margin-top: 3px;
                      p{
                        margin-left: 15px;
                        margin-top: 13px;
                        margin-bottom: 15px;
                        width: 79px;
                        height: 15px;
                      }
                }
            }
        
            .FullAdddress { 
                width: 700px;
                height:110px;
                margin-top: 9px;
                .fullAddressLable { 
                    width: 54px;
                    height: 16px;
                    font-size: 14px;
                }
        
                .interFullAddress { 
                    border: 1px solid #E4E4E4;
                    width: 512px;
                    height: 82px;
                    margin-top: 4px;
                    p{
                        margin-left: 15px;
                        margin-top: 13px;
                        margin-bottom: 15px;
                        width: 500px;
                        height: 65px;
                      }
                }
            }
        
            .cityTown { 
                width: 700px;
                height:76px;
                margin-top: 9px;
                .cityLable { 
                    width: 54px;
                    height: 16px;
                    font-size: 14px;
                }
        
                .interCity { 
                    border: 1px solid #E4E4E4;
                    width: 345px;
                    height: 43px;
                    margin-top: 3px;
                      p{
                        margin-left: 15px;
                        margin-top: 13px;
                        margin-bottom: 15px;
                        width: 79px;
                        height: 15px;
                      }
        
                }
            }
        
            .state { 
                width: 393px;
                height:76px;
                transform: translateY(-75px);
                margin-left: 355px;
                
                .stateLable { 
                    width: 54px;
                    height: 16px;
                    font-size: 14px;
                }
        
                .interState { 
                    border: 1px solid #E4E4E4;
                    width: 345px;
                    height: 43px;
                    margin-top: 3px;
                    p{
                        margin-left: 15px;
                        margin-top: 13px;
                        margin-bottom: 15px;
                        width: 79px;
                        height: 15px;
                      }
                }
            }
        }
        .addressType { 
            width: 700px;
            height:76px;
            margin-top: 9px;
            margin-left: 57px;
            margin-top: -120px;
            transform: translateY(9px);
            label { 
                width: 100px;
                height: 16px;
                font-size: 14px;
            }
    
            .footerRadioButton { 
                margin-top: 5px;
                .radioButtons { 
                    .workRadioButton { 
                        margin-left: 156px;
                    }
    
                    .othersRadioButton { 
                        margin-left: 156px;
                    }
                }
            }
        }
    
        .ContinueButton { 
            margin-top: 12px;
            margin-left: 550px;
            width: 151px;
            height: 35px;
            background: #3371B5 0% 0% no-repeat padding-box;
            border-radius: 2px;
            opacity: 1;
            color: #FFFFFF;
            border: none;
            cursor: pointer;
        }
    }
    .order-summary-container { 
        margin-left: 220px;
        margin-right: 167px;
        margin-top: 30px;
        border: 1px solid #E4E4E4;
        width: 800px;
        cursor: pointer;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        .summary-card-closed{
            width: 800px;
            height: 60px;
            border: 1px solid #E4E4E4;
            border-radius: 1px;
            .symmary-closed-text
             { 
                width: 131px;
                height: 35px;
                letter-spacing: 0px;
                font-weight: 550;
                font-size: 17px;  
                margin-top: 17px;
                margin-bottom: 14px;
                margin-left: 40px;
                opacity: 0.7;
            }
        }
    }
}